<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase"/>
  </configSections>
  <membase>
    <servers bucket="default">
      <add uri="http://localhost:8091/pools/default"/>
    </servers>
  </membase>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
