getPublicPhotoViewCount.pl.4.html
getPublicPhotoViewCount.pl.5.html
*.conf
*.ini
*.lnk
*.log
*~

upload/*.lnk
upload/*.log
upload/*.txt
upload/*~
upload/2upload/*.avi
upload/2upload/*.jpg
upload/2upload/*.nef
upload/2upload/*.orf
upload/2upload/combine/*.jpg
upload/2upload/combine/*.orf
upload/2upload/combine2/*.jpg
upload/2upload/combine2/*.orf
upload/2upload/filter/*.jpg
upload/2upload/filter/*.orf
upload/2upload/uploaded/*.jpg
upload/2upload/uploaded/*.orf