SyncToy*.dat
getPublicPhotoViewCount.pl.4.html
getPublicPhotoViewCount.pl.5.html
*.conf
*.ini
*.lnk
*.log
*~

upload/*.lnk
upload/*.log
upload/*.txt
upload/*~
upload/2upload/*.avi
upload/2upload/*.jpg
upload/2upload/*.nef
upload/2upload/*.orf
upload/2upload/Thumbs.db
upload/2upload/combine/
upload/2upload/combine2/
upload/2upload/filter/
upload/2upload/uploaded/*.jpg
upload/2upload/uploaded/*.orf
upload/2upload/uploaded/Thumbs.db